@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
	background-color: #0A2344;
	font-family: 'Roboto', sans-serif;
}

h1 {
	text-align: center;
}

/* Accordion */
.accordion {
	width: 800px;
	max-width: 100%;
	margin: 90px auto;
	color: black;
	background-color: white;
	padding: 45px 45px;
	box-shadow: 2px 2px 5px rgb(0 0 0 / 80%);
}

.accordion .container {
	position: relative;
	margin: 10px 10px;
}

/* Accordion > Label */
.accordion .label {
	position: relative;
	padding: 10px 0;
	font-size: 1.5rem;
	color: black;
	cursor: pointer;
}

.accordion .label::before {
  content: '+';
  color: black;
  position: absolute;
  top: 50%;
  right: -5px;
  font-size: 30px;
  transform: translateY(-50%);
}

/* Accordion > Content (hidden, which changes with JavaScript) */
.accordion .content {
  position: relative;
  background: white;
  height: 0;
  font-size: 20px;
  text-align: justify;
  width: 780px;
  overflow: hidden;
  transition: height .5s;
}

/* Lines between accordion items */
.accordion hr {
  width: 100;
  margin-left: 0;
  border: 1px solid grey;
}

/* Changes from plus sign to negative sign once active */
.accordion .container.active .label::before {
content: '-';
font-size: 30px;
}